.Description{
  text-align: left;
}

.Grey{
  font-size: 14px;
  color: #999;
}

.GreyMini{
  font-size: 10px;
  color: #999;
}

.Black{
  font-size: 20px;
}

.Red{
  color: red;
}

.Price{
  font-size: 14px;
}

.CardImgOffer{
  width: 30px !important;
  height: 20px !important;
}

.RightSpan{
  float: right;
}

.Purple{
  color: #70578b;
}
