.App {
  text-align: center;
}

.App-header {
  background-color: white;
  position: relative; /* needed for footer positioning*/
  height: auto !important; /* real browsers */
  min-height: 100%; /* real browsers */
  min-width: 100%;
  color: #282c34;
  padding: 15px !important;
}

.App-link {
  color: #09d3ac;
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Montserrat,Helvetica,Arial,sans-serif !important;
}

.Footer{
  position: absolute;
  width: 100%;
  bottom: 0;
}
