.Card{
  margin-bottom: 15px !important;
}

.CardImg{
  max-width: 250px !important;
  max-height: 250px !important;
}

.TitleCard{
  font-size: 14px !important;
}

p{
  font-size: 12px !important;
  margin-bottom: 0px !important;
}

.Normal{
  color: #C4C4C4 !important;
}

.Offer{
  color: black !important;
  font-weight: bold;
}

.CardOffer{
  font-size: 14px !important;
  color: red !important;
  font-weight: bold;
}

.CardImgOffer{
  width: 15px !important;
  height: 14px !important;
}
